#couple-name{
    text-align: center;
    font-family: 'English 111 Vivace BT', arial;
    /* font-family: Great Vibes, Regular; */
    /* font-size: 142px; */
    font-size: 8.395vw;
    line-height: 178px;
    color: #9d4527c4;
    /* color: #D0CECA; */
    margin-top: 32px;
    z-index: 200;
    

}
.cp-bg{
    width: 100%;
    position: absolute;
    height: 101%;
    left: 0;
    zoom: 2;
}
.cp-bg::before{
    content: "";
	position: absolute;
	background: inherit;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(8px);
}
#marriage-date {
    text-align: center;
    font-family: 'English 111 Vivace BT', arial;
    font-size: 62px;
    line-height: 80px;
    color: #303B44;
}
#marriage-date-summary{
    text-align: center;
    font-family: Great Vibes;
    font-size: 52px;
    line-height: 52px;
    word-spacing: 10;
    padding-top:20px;
    color: #720702;

}
.couple-name-div{
    align-items: center;
    height: 210px;
    display: flex;
    justify-content: center;
    position: relative;
    position: absolute;
    top: -210px;
    left: 21.6666%;
    right: 21.666%;
}
.couple-name-bg{
    left: 0;
    width: 100%;
    height: 100%;
    background: #526b53de;
    position: absolute;
    background-position: bottom;
    z-index: -1;
    /* -webkit-filter: blur(26px); */
    /* filter: blur(26px); */
}
.duration{
    font-size: inherit;
}
.couple-name-bg:before{
    
}
.duration-summary {
    /* height:210px; */
    padding-bottom: 20px;
}


@media (min-width: 481px) and (max-width: 699px) {
    .couple-name-div {
        position: relative;
        top: 0;
        height: 120px;
        left: 0;
        right: 0;
    }
    #marriage-date-summary{
        font-size: 7vw;
        line-height: 38px;
       }

      .duration-summary {
        height: 116px;
      }
       
}

/*Portrait Tablet */
@media (min-width: 700px) and (max-width: 812px) {
    .couple-name-div {
        position: relative;
        top: 0px;
        height: 145px;
        left: 0px;
        right: 0px;
    }
    .duration-summary {
        height: 140px;
    }
    #marriage-date-summary {
        font-size: 7vw;
        line-height: 50px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 812px) {

     #couple-name{
        font-size: 13.395vw;
        line-height: 0;
        color: #9d45278a;
        margin-top: -5px;
       }

       
      #marriage-date {
        font-size: 6.5vw;
        line-height: 35px;
      }
      
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
   #couple-name{
    font-size: 15.395vw;
    line-height: 0;
    color: #9d45278a;
    margin-top: 4px;
   }
   .couple-name-div{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
   }
  

   #marriage-date-summary{
           font-size: 7vw;
           line-height: 30px;
           margin-top: -6px;
       }
    
    #marriage-date {
        font-size: 6vw;
        line-height: 28px;
      }

      .duration-summary{
        height: 89px;
      }
  }


    