<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false"
    style="display: block">
    <div style="max-width: 100%;height: 100%;margin: 0;" role="document">
        <div style="height: 100%;border:0;border-radius: 0;display: block;position: relative;" class="modal-content">
            <div class="land header">
                <div class="row">
                    <div class="col-4">
                        <div data-dismiss="modal" routerLink="/" aria-label="Close">
                            <img class="back-icon" src="assets/left-arrow.svg">
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <h2 class="event-text">{{eventName}}</h2>
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="social-icons">
                            <span class="share-label d-none d-sm-none d-md-block">Share Photo:</span>
                            <a href="http://www.facebook.com/sharer/sharer.php?u={{pageUrl}}" target="_blank">
                                <img style="padding: 0 9px;" src="assets/fb.svg" />
                            </a>
                            <a href="https://twitter.com/intent/tweet?text=AaronDiyaWedding&url={{pageUrl}}"
                                target="_blank">
                                <img style="padding: 0 9px;" src="assets/twitter.svg" />
                            </a>
                            <img style="padding: 0 9px;" src="assets/insta.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block">
                           
                            <div  class="img-container">
                               <!-- <div class="dispaly-img-cont" style="height:inherit">
                                    <img  class="img-fluid" (swiperight)="prevImage()" (swipeleft)="nextImage()" (click)="nextImage()" style="display: block;margin: auto;height: inherit;"
                                    onload="this.style.display = 'block'" [ngClass]="'img1'+index" [src]="currentImg"
                                    onError="this.src='https://images.pixieset.com/96161171/314b55aa49b513a8398b824eaaf0b44f-xxlarge.jpg'" />
                               </div> -->
                                   <div *ngIf="lgScreen"  style="height:inherit">
                                        <img  class="img-fluid" (swiperight)="prevImage()" (swipeleft)="nextImage()" (click)="nextImage()" style="margin: auto;height: inherit;"
                                        onload="this.style.display = 'block'" [ngClass]="'img1'+index" [src]="currentImg"
                                        onError="this.src='https://images.pixieset.com/96161171/314b55aa49b513a8398b824eaaf0b44f-xxlarge.jpg'" />
                                
                                   </div>
                                   <div *ngIf="!lgScreen " id="zoomHolders">
                                        <img    class="img-fluid in smallscreen" (swiperight)="prevImage()" (swipeleft)="nextImage()" (click)="nextImage()" style="margin: auto;height: inherit;"
                                        onload="this.style.display = 'block'" [ngClass]="'img1'+index" [src]="currentImg"
                                        onError="this.src='https://images.pixieset.com/96161171/314b55aa49b513a8398b824eaaf0b44f-xxlarge.jpg'" />
                                
                                   </div>
                                   
                                    <div class="page-right"  id="land-1" *ngIf="albumData.data.length > index+1" (click)="nextImage()">
                                            <i class="fa fa-chevron-circle-right" style="cursor: pointer;"></i>
                                    </div>
                                    <div id="land-0" class="page-left" *ngIf="index >= 1" (click)="prevImage()" >
                                            <i class="fa fa-chevron-circle-left" style="cursor: pointer;"></i>
                                 </div>
                                </div>
            </div>
        </div>
    </div>
</div>
<img class="preload" onload="this.style.display = 'block'"  [src]="albumData.data[this.index+1].url" style="width: 1px;height: 1px;">

