<div>
  <div>
        <div id="flipbook" class="sample-flipbook"  >
          <div *ngFor="let image of albumArray" [ngStyle]="{'background':'url(' +image?.albumArt+ ')'}"></div>
        </div>
    </div>
</div>

<!-- <div id="flipbook" class="sample-flipbook">
    <div style="background-image:url(assets/pages/1.jpg)"></div>
			<div (mousedown)="sendPhotoClickEvent()" style="background-image:url(assets/pages/2.jpg)"></div>
			<div style="background-image:url(assets/pages/3.jpg)"></div>
			<div style="background-image:url(assets/pages/4.jpg)"></div>
			<div style="background-image:url(assets/pages/5.jpg)"></div>
  </div> -->
