<div id="share" class="target">
    <div class="footer with-love">
        <span>handcrafted with 
            <img src="assets/heart.svg" /> by 
            <a *ngIf="lgScreen" style="text-decoration: none; " href="http://www.foreverCelebrations.com" target="_blank"><span class="highlight-blue">forever</span><span class="highlight-black">Celebrations</span></a>
            <p *ngIf="!lgScreen" style="text-align: center;margin: 0 0 0 -7px;">  <a  style="text-decoration: none;" href="http://www.foreverCelebrations.com" target="_blank"><span class="highlight-blue">forever</span><span class="highlight-black">Celebrations</span></a></p>
        </span>
    </div>

    <div class="d-none d-sm-none d-md-none d-lg-block">
        <div id="social-icons">
            <span class="share-label">Share this wedding website on:</span>
            <a href="http://www.facebook.com/sharer/sharer.php?u=diya-aron.s3-website.ap-south-1.amazonaws.com" target="_blank">
                <img style="padding: 0 9px;" src="assets/fb.svg" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=AaronDiyaWedding&url=http://diya-aron.s3-website.ap-south-1.amazonaws.com"
                target="_blank">
                <img style="padding: 0 9px;" src="assets/twitter.svg" />
            </a>
            <!-- <img style="padding: 0 9px;" src="assets/insta.svg" /> -->
        </div>
    </div>
</div>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button> -->
