.footer {
    height: 68px;
    background-color: #E4E0DD;
    width: 100%;
}
.with-love {
    display: flex;
    justify-content: center;
    font-family: Space Grotesk;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: #445563;
}
#share {
    display: flex;
    height: 68px;
    background-color: #E4E0DD;
    width: 100%;
}
#social-icons {
    position: absolute;
    right: 8%;
    bottom: 22px;
}
.share-label{
    font-family: Playfair Display, Regular;
    font-size: 15px;
    color: #445563;
    padding: 0px 9px;
}
.highlight-blue {
    color: #209cff;
}
.highlight-black{
    color: #111111;
}
@media (min-width: 481px) and (max-width: 812px) {
    .with-love {
       font-size: 20px;
       letter-spacing: 0.5px;
    }
    .footer {
        height: max-content;
        padding: 4px 0px;
    }
}

/*Portrait Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .with-love {
        font-size: 19px;
        letter-spacing: 0.5px;
     }
     .footer {
        height: max-content;
        padding: 4px 0px;
    }
}
