<div id="share">
    <div class="footer with-love">
        <span>handcrafted with 
            <img src="assets/heart.svg" /> by <a style="text-decoration: none;    color: #5b93c2;" href="http://www.foreverCelebrations.com" target="_blank">foreverCelebrations.com</a></span>
    </div>

    <div class="d-none d-sm-none d-md-none d-lg-block">
        <div id="social-icons">
            <span class="share-label">Share this wedding website on:</span>
            <a href="http://www.facebook.com/sharer/sharer.php?u=diya-aron.s3-website.ap-south-1.amazonaws.com" target="_blank">
                <img style="padding: 0 9px;" src="assets/fb.svg" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=AaronDiyaWedding&url=http://diya-aron.s3-website.ap-south-1.amazonaws.com"
                target="_blank">
                <img style="padding: 0 9px;" src="assets/twitter.svg" />
            </a>
            <!-- <img style="padding: 0 9px;" src="assets/insta.svg" /> -->
        </div>
    </div>
</div>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button> -->
