<div class="guest-book-sec-padding" >
  <div  class="guest-book-label">
      <hr    class="hr-text " data-content="GUEST BOOK">
    <!-- <img class="con-album-label-hr" src="assets/rectangle.svg" />
    <span id="album" style="padding-left: 20px;padding-right: 17px;">Guest Book</span>
    <img class="con-album-label-hr" style="transform: scale(-1);" src="assets/rectangle.svg" /> -->
  </div>

  <div id="guest-book-cont">
    <div class="guest-view" style="position: relative;width: 100%">
      <div  id="guest-book-turn" class="book-depth">
        <div class="shadow" (swipe)="clearTimer()" (tap)="clearTimer()" (press)="clearTimer()"  *ngFor="let wish of wishes.data.wishList;index as i">
          <!-- <img style="position: absolute;height: 100%;width: 100%" class="img-fluid gb-img d-none d-sm-one d-md-block" src="assets/dtop.png">
          <img style="position: absolute;height: 100%;width: 100%" class="img-fluid gb-img d-block d-sm-block d-md-none" src="assets/mobile.png"> -->
          <img style="position: absolute;height: 100%;width: 100%" class="img-fluid gb-img d-none d-sm-one d-md-block" src="assets/desk-asset.png">
          <img style="position: absolute;height: 100%;width: 100%" class="img-fluid gb-img d-block d-sm-block d-md-none" src="assets/mobile-asset.png">
          <div style="height: 100%;padding: 0px 98px;">
              <div  (mouseover)="clearTimer()" class="left-arrow" *ngIf="i!=0" (click)="clearTimer()" >
                  <i class="fa fa-chevron-circle-left" style="cursor: pointer;"></i>
              </div>
            <div  class="guest-book-wish-text">
              <h1 class="wish-style">{{wish.message}}</h1>
            </div>
            <div class="guest-wisher-info">
              <p class="guest-info">- {{wish.name}}</p>
              <p class="loc-date">{{wish.location}}</p>
              <p class="loc-date">{{wish.modifiedDate | date }}</p>
            </div>
            <div (mouseover)="clearTimer()" class="right-arrow" *ngIf="i != wishes.data.wishList.length-1" (click)="clearTimer()">
                <i class="fa fa-chevron-circle-right" style="cursor: pointer;"></i>
        </div>
          </div>
        </div>
        <div class="hard shadow">
            <img style="position: absolute;height: 100%;width: 100%" class="img-fluid gb-img d-none d-sm-one d-md-block" src="assets/dtop.png">
        </div>
	      <!-- <div class="hard"></div> -->

        <!-- <div style="background: url('assets/page-right.png')">hello</div> -->

        <!-- <div style="background: url('assets/page-right.png')">hhh</div> -->
      </div>
    </div>
  </div>


  <!-- <div class="modal" id="confirmModal">
      <div class="modal-dialog">
        <div class="modal-content" style="justify-content: center;align-items: center;background-color: none">
       
          <div class="modal-body" id="tq-div">
            <h1 class="tq">Thank you</h1>
            <p class="tq-msg">...for writing in Aaron and Diya's wedding guest book! If you would like to make some changes, tap on the edit button.</p>
            <div style="text-align: right">
                <button data-dismiss="modal" class="btn-gotit" (click)="iAgree(wishes.data.wishList)">Got it</button>
            </div>
           </div>
         
        </div>
      </div>
    </div> -->

  <!-- <div ng-repeat="item in wishes.data.wishList" style="background: url('assets/page.png')">Hello</div>
           -->
  <!-- <h1 class="wish-style" id="word"></h1> -->
  <div  [hidden]="!showForm" class="form-width">
    <form (ngSubmit)="guestForm.form.valid && onSubmit()" #guestForm="ngForm" novalidate>
      <div>
        <input name="name" [(ngModel)]="wishObj.name" #name="ngModel" placeholder="Your Name and family?" required/>
      </div>
      <div *ngIf="guestForm.submitted && name.invalid">
        <span style="color: #ff000091;" *ngIf="name.errors.required">Name is required</span>
      </div>
      <div   style="margin-top: 75px;">
        <input name="location" [(ngModel)]="wishObj.location" #location="ngModel" placeholder="Where are you from?" required/>
      </div>
      <div *ngIf="guestForm.submitted && location.invalid">
          <span style="color: #ff000091;" *ngIf="location.errors.required">Location is required</span>
        </div>
      <div  style="margin-top: 75px;">
        <input name="email" [(ngModel)]="wishObj.email" placeholder="Your email address?" />
      </div>
      <div   style="margin-top: 75px;">
        <textarea name="message" [(ngModel)]="wishObj.message" #message="ngModel"  placeholder="Write your thoughts and wishes for the newly wedded couple." required></textarea>
      </div>
      <div *ngIf="guestForm.submitted && message.invalid">
          <span style="color: #ff000091;" *ngIf="message.errors.required">Message is required</span>
        </div>

      <div  class="btn-div">
        <button  type="submit" id="wish-button">Post</button>
      </div>

    </form>

  </div>
  <div  *ngIf="!showForm && showConfirmMsg" class="tq-wish">
          <h1 class="wish-style" id="word">Thank you for writing in Aaron and Diya's wedding guest book! If you would like to make some changes, tap on <a style="    font-weight: bold;
            color: #ff5722a3;cursor: pointer;" (click)="showForm=true;" >Edit</a></h1>
      </div>
</div>

<!--  
      <div >
          <div class="container">
              <h1></h1>
              <form (ngSubmit)="guestForm.form.valid && onSubmit()" #guestForm="ngForm">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" [(ngModel)]="wishObj.name" type="text" class="form-control" id="name" required #name="ngModel">
                  
                </div>
                <div class="form-group">
                  <label for="alterEgo">Message</label>
                  <input name="message" [(ngModel)]="wishObj.Message" type="text" class="form-control" id="alterEgo">
                </div>
          
                <button type="submit" class="btn btn-success">post</button>
          
              </form>
          </div>
    
      </div>
      -->