<div class="modal fade show modal-trans modal-landscape" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="false" style="display: block;overflow:hidden;">
    <div style="max-width: 100%;height: 100%;margin: 0;" role="document">
        <div style="height: 100%;border:0;border-radius: 0;display: block;position: relative;" class="modal-content">
            <div class="land header">
                <div class="row">
                    <div class="col-4 back-col">
                        <div (click)="goToPage();sendAlbumBackEvent()">
                            <img class="back-icon" src="assets/left-arrow.svg">
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <h2 style="margin: 0;" class="event-text">{{eventName}}</h2>
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="social-icons">
                            <span class="share-label d-none d-sm-none d-md-block">Share Photo:</span>
                            <a (click)="sendPhotoShareEvent('fb share')" class="share-link" href="http://www.facebook.com/sharer/sharer.php?u=diyaaron.com?utm_source=webshare%26utm_medium=fb" target="_blank">
                                <img class="share-img" src="assets/fb.svg" />
                            </a>
                            <a (click)="sendPhotoShareEvent('tw share')" class="share-link" [href]="encoderTwitterURL()" target="_blank">
                                <img class="share-img" src="assets/twitter.svg" />
                            </a>
                            <!-- <img style="padding: 0 9px;" src="assets/insta.svg" /> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block">

                <div onmousedown="return false" class="img-container">

                    <div *ngIf="lgScreen" id="img-bucket"  style="height:inherit">
                        <div  style="height: inherit;" (click)="nextImage()">
                            <img id="{{'img1'+i}}" *ngFor="let img of this.albumData.data;index as i"  [ngClass]="i === index ? 'opaque':'non-opaque'" class="img-fluid trans {{'img1'+i}}"
                                 style="margin: auto;"  data-src="" src=""  />
                            <img class="placeholder-img img-fluid trans"  [src]="currentImg">
                        </div>
                    </div>
                    <div *ngIf="!lgScreen " id="zoomHolders"  (swiperight)="prevImage()"
                    (swipeleft)="nextImage()" >
                                          <pinch-zoom style="display: unset" height="inherit" auto-zoom-out="true" zoom-button="false">
                                <img id="{{'img1'+i}}"   *ngFor="let img of this.albumData.data;index as i" onError="this.src=''" alt=""  class="img-fluid   landscape smallscreen trans {{'img1'+i}}"   [ngClass]="i === index ? 'opaque':'non-opaque'"
                                data-src="" src="" 
                                />
                                <img class="placeholder-img img-fluid trans" [src]="currentImg">

                            </pinch-zoom>
                                   </div> 

                    <div class="page-right" id="land-1" [hidden]="!(albumData.data.length > index+1)" (click)="nextImage()">
                        <i class="fa fa-chevron-circle-right" style="cursor: pointer;"></i>
                    </div>
                    <div id="land-0" class="page-left" *ngIf="index >= 1" (click)="prevImage()">
                        <i class="fa fa-chevron-circle-left" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img *ngFor="let img of this.albumData.data;index as i" (load)="loadImageArrayAsync(i+1)" class="{{'preload'+i}}" onload="this.style.display = 'block'" data-src="" style="width: 1px;height: 1px;">

</div>