<div class="header-cont">
        <div (click)="toggleMusic()" class="music-bg">
                <div class="mg-txt-con">
                    <div class="mg-txt-ico">
                        <img [src]="!playMusic ? 'assets/play-button.svg':'assets/pause-button.svg'" class="mg-img" />
                        <span *ngIf="playMusic" class="music-txt">Pause Music</span>
                        <span *ngIf="!playMusic" class="music-txt">Play Music</span>
                    </div>
                </div>
            </div>
    <nav class="navbar navbar-expand-md fixed-top nav-height" role="navigation">
        <!-- <div [ngStyle]="!isCollapsed ? {'height':'300px'}:{'height':'45px'}" class="nav-container nav-transcluent"></div>  -->
        <div class="navbar-light" style="z-index: 3;">
           
            <button style=" margin-left: 15px;
            margin-top: -2px;" class="navbar-toggler" type="button" role="button" data-toggle="collapse" href="#navbarTogglerDemo02"  aria-expanded="false"
                aria-label="Toggle navigation" (click)="onChange()"  aria-controls="navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div  class="navbar-collapse collapse" id="navbarTogglerDemo02" >
            <div class="d-none d-sm-none d-md-block d-lg-block" style="width: 100%">
                <div class="nav-flex">
                    <div  class="nav-items-flex nav-scroll">
                        <a href="#home" i="home" (click)="sendGA('home');" class="nav-active"  style="color: inherit;text-decoration: none"  >HOME</a>
                    </div>
                    <div class="nav-items-flex nav-scroll">
                        <a href="#album" i="album" (click)="sendGA('album');" style="color: inherit;text-decoration: none" >ALBUMS</a>
                    </div>
                    <div  class="nav-items-flex nav-scroll">
                        <a href="#guestbook" (click)="sendGA('guestbook');" style="color: inherit;text-decoration: none" >GUEST BOOK</a>
                    </div>
                    <div  class="nav-items-flex nav-scroll">
                        <a (click)="sendGA('share');" href="#share"  style="color: inherit;text-decoration: none">SHARE</a>
                    </div>

                </div>
            </div>
            <div class="d-block d-sm-block d-md-none">
                <ul class="navbar-nav mr-auto" style="padding-top: 13px;font-size: 1.25rem;">
                    <li  class="nav-item nav-scroll">
                        <a href="#home"    style="color: inherit;text-decoration: none" onclick="window.scrollTo(0.0)"
                             (click)="onChange();sendGA('home')" class="nav-active" routerLinkActive="active">HOME</a>
                    </li>
                    <li class="nav-item nav-scroll">
                        <a href="#marriage-date-summary" (click)="sendGA('album');onChange()" style="color: inherit;text-decoration: none" 
                            >ALBUMS</a>
                    </li>
                    <li class="nav-item nav-scroll">
                        <a href="#guestbook" (click)="sendGA('guestbook');onChange()" style="color: inherit;text-decoration: none" >GUEST BOOK</a>
                    </li>
                    <li class="nav-item nav-scroll">
                        <a href="#share" (click)="sendGA('share');onChange()"  style="color: inherit;text-decoration: none">SHARE</a>
                    </li>
                </ul>

            </div>


        </div>
    </nav>
</div>