<div>
    <nav class="navbar navbar-expand-md fixed-top nav-height" role="navigation">
        <div [ngStyle]="!isCollapsed ? {'height':'300px'}:{} " class="nav-container nav-transcluent"></div>
        <!-- <div [ngStyle]="{'background-image':'url(' +imageUrl+ ')'}" class="nav-container"></div> -->
        <div class="navbar-light" style="z-index: 3;">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="onCollapse()">
                        <span class="navbar-toggler-icon"></span>
                </button> -->
            <button style="    margin-left: 15px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- <a class="navbar-item" >SOUND ON</a> -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
            <div class="d-none d-sm-none d-md-block d-lg-block" style="width: 100%">
                <div class="nav-flex">
                    <div class="nav-items-flex">
                        <a style="color: inherit;text-decoration: none" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">HOME</a>
                    </div>
                    <div class="nav-items-flex">
                        <a href="#album" (click)="sendGA();" style="color: inherit;text-decoration: none" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                            [fragment]="'album'" routerLinkActive="active">ALBUMS</a>
                    </div>
                    <div class="nav-items-flex">
                        <a href="#guestbook" (click)="sendGA();" style="color: inherit;text-decoration: none" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                            [fragment]="'guestbook'" routerLinkActive="active">GUEST BOOK</a>
                    </div>
                    <div class="nav-items-flex">
                        <a (click)="sendGA();" style="color: inherit;text-decoration: none">SHARE</a>
                    </div>

                </div>
            </div>
            <div class="d-block d-sm-block d-md-none">
                <ul class="navbar-nav mr-auto" style="padding-top: 13px;font-size: 1.25rem;">
                    <li class="nav-item">
                        <a (click)="isCollapsed = !isCollapsed" style="color: inherit;text-decoration: none" [routerLinkActiveOptions]="{ exact: true }"
                            routerLink="/" routerLinkActive="active">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#album" (click)="sendGA();isCollapsed = !isCollapsed" style="color: inherit;text-decoration: none" routerLink="/"
                            [routerLinkActiveOptions]="{ exact: true }" [fragment]="'album'" routerLinkActive="active">ALBUMS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#guestbook" (click)="sendGA();isCollapsed = !isCollapsed" style="color: inherit;text-decoration: none" routerLink="/"
                            [routerLinkActiveOptions]="{ exact: true }" [fragment]="'guestbook'" routerLinkActive="active">GUEST BOOK</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="sendGA();isCollapsed = !isCollapsed" style="color: inherit;text-decoration: none">SHARE</a>
                    </li>
                </ul>

            </div>


        </div>


        <!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-item ">HOME</a>
            </li>
            <!-- <li class="nav-item">
                    <a routerLink="/home"  [fragment]="'guestbook'" routerLinkActive="active"  class="nav-item ">Guest book</a>
            </li> -->
        <!-- <li routerLink="/guest-book" class="nav-item">
                <a class="nav-item ">DIGITAL GUEST BOOK</a>
            </li> -->
        <!-- <li class="nav-item">
                <a class="nav-item ">PHOTOS</a>
            </li>
          <li class="nav-item">
              <a class="nav-item ">CONTACT US</a>
          </li> 
        </ul> -->
    </nav>


</div>