<div>
    <router-outlet></router-outlet>
  <div class="key-bg col-md-12 col-sm-12 col-xs-12" [ngStyle]="{'background-image':'url(' +wedddingOverviewData?.data?.welcome+ ')'}">
    <div class="header-cont  d-none d-sm-none d-md-block">
            <app-nav-bar [(playMusic)]="playMusic" (isMusicOnChange)="onMusicChange($event)" [audioUrl]="wedddingOverviewData?.data?.bg_music" style="height: inherit;"
              [imageUrl]="wedddingOverviewData?.data?.welcome" [(isCollapsed)]="isCollapsed" 
            ></app-nav-bar>
            <audio id="player"[src]="wedddingOverviewData?.data?.bg_music"  loop preload="none"></audio>

          </div>
          <div class="header-cont d-block d-sm-block d-md-none" [ngStyle]="!isCollapsed ? {'height':'300px','transition': 'height 0.35s ease'}:{'height':'45px', 'transition': 'height 0.35s ease'}">
              <app-nav-bar [(playMusic)]="playMusic" isMusicOnChange)="onMusicChange($event)" [audioUrl]="wedddingOverviewData?.data?.bg_music" style="height: inherit;"
                [imageUrl]="wedddingOverviewData?.data?.welcome" [(isCollapsed)]="isCollapsed"
              ></app-nav-bar>
  
            </div>
            <img  class="img-fluid hidden-img" [src]="wedddingOverviewData?.data?.welcome" style="visibility: hidden;" /> 
    </div>
  <div class="container-fluid-nomax">
        <div class="parent-container">
          <div>
              <div style="padding-left: 0px;padding-right: 0px" >
              <div class="couple-container">
                <app-container [(playMusic)]="playMusic" (isMusicOnChange)="onMusicChange($event)" [weddingData]="wedddingOverviewData" ></app-container>
              </div>
            </div>
            <div style="padding-left: 0px;padding-right: 0px">
                <div style="min-height: 1000px;background-color: #F6F2EF;width: 100%;position: relative;">
                    <app-guest-book [(playMusic)]="playMusic" (isMusicOnChange)="onMusicChange($event)" (sendWishEvent)="setGuestBookWishes($event)"></app-guest-book>
                </div>
            </div>
            <div style="padding-left: 0px;padding-right: 0px;">
                <app-footer></app-footer>

            </div>
          </div>
          </div>
        </div>
    </div>

    


<!-- <div style="min-height: 1000px;background-color: #F6F2EF;width: 100%;position: relative;top: 2900px">  -->
<!-- <app-nav-bar></app-nav-bar>
            <app-couplestory [couplestory] = "wedddingOverviewData?.data?.coupleStory"></app-couplestory>
            <app-wedding-events [weddingDate] = "wedddingOverviewData?.data?.dateOfWedding" 
            [weddingEventList] = "wedddingOverviewData?.data?.eventList"></app-wedding-events>
            <app-guest-book></app-guest-book>
           -->
<!-- <div  [ngStyle]="{'background-image':'url(' +wedddingOverviewData.data.welcome+ ')'}" class="key-photo"> </div> -->
<!--   <div class="key-photo" >
                      <div  [ngStyle]="{'background-image':'url(' +wedddingOverviewData.data.welcome+ ')'}" class="key-photo"> </div> 
                        <img style="width: 100%" class="img-fluid" src="assets/key-photo.png">
                    <img style='display: none' onload="this.style.display = 'block'" id="bg-image"  class="img-fluid" [src]="wedddingOverviewData?.data?.welcome">
        </div> -->
