<div>
    <div>
      <!-- <div class="fit-top-container" [ngStyle]="{'background':'url(' +wedddingOverviewData.data1.coupleStory.backgroundImage+ ')'}">
       !-->
      <div id="home">  
        <router-outlet></router-outlet> 
      </div>
    </div>
</div>










<!--The content below is only a placeholder and can be replaced.-->
<!-- 
<div id="flipbook" class="sample-flipbook">
    <div class="hard"> Turn.js </div>
    <div class="hard"></div>
    <div> Page 1 </div>
    <div> Page 2 </div>
    <div> Page 3 </div>
    <div> Page 4 </div>
    <div class="hard"></div>
    <div class="hard"></div>
  </div> -->

  <!-- <div id="flipbook" class="sample-flipbook">
    <div style="background-image:url(assets/pages/1.jpg)"></div>
			<div (mousedown)="sendPhotoClickEvent()" style="background-image:url(assets/pages/2.jpg)"></div>
			<div style="background-image:url(assets/pages/3.jpg)"></div>
			<div style="background-image:url(assets/pages/4.jpg)"></div>
			<div style="background-image:url(assets/pages/5.jpg)"></div>
  </div> -->

