<div>
    <div class="couple-name-div">
            <!-- <div class="couple-name-bg"  [ngStyle]="{'background':'url('+ imageUrl +')'}" ></div>  -->
                <div class="couple-name-bg"   ></div> 
                <h1 id="couple-name">{{'Aaron & Diya'}}</h1> 
    </div>
    <div class="duration-summary">
            <div id="marriage-date-summary">
                    <span style="padding-left: 20px;padding-right: 17px;">celebrating <b *ngIf="togetherMonth>=0" class="duration">{{togetherMonth}} month</b> <b *ngIf="togetherYear>=0" class="duration">{{togetherYear}} year</b> of togetherness
                    </span>
                 <div>since</div>
            </div>
            <h1 id="marriage-date">10th February, 2019</h1>
    </div>

</div>


