#couple-name{
    text-align: center;
    font-family: Great Vibes, Regular;
    /* font-size: 142px; */
    font-size: 8.395vw;
    line-height: 178px;
    color: #9d45278a;
    /* color: #D0CECA; */
    margin-top: 32px;
    z-index: 200;
    

}
.cp-bg{
    color: #f1f1f1;
    filter: blur(6px);
    background-color: #ffff;
    opacity: 0.6;
    width: 100%;
    position: absolute;
    height: 107%;
    left: 0;
}
#marriage-date {
    text-align: center;
    font-family: Playfair Display, Regular;
    font-size: 60px;
    line-height: 80px;
    color: #303B44;
}
#marriage-date-summary{
    text-align: center;
    font-family: Playfair Display, Regular;
    font-size: 30px;
    line-height: 40px;
    word-spacing: 10;
    color: #303B44;

}
.couple-name-div{
    align-items: center;
    height: 210px;
    display: flex;
    justify-content: center;
    position: relative;
    position: absolute;
    top: -210px;
    left: 21.6666%;
    right: 21.666%;
}
.couple-name-bg{
    left: 0;
    width: 100%;
    height: 100%;
    background: #526b53de;
    position: absolute;
    background-position: bottom;
    z-index: -1;
    /* -webkit-filter: blur(26px); */
    /* filter: blur(26px); */
}
.duration{
    font-size: 34px;
}
.couple-name-bg:before{
    
}
.duration-summary {
    height:210px;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 812px) {

     #couple-name{
        font-size: 13.395vw;
        line-height: 0;
        color: #9d45278a;
        margin-top: 17px;
       }
       .couple-name-div{
        position: relative;
        top: 0px;
        height: 106px;
        left: 0px;
        right: 0px;
       }
    

       #marriage-date-summary{
        font-size: 4vw;
        line-height: 30px;
       }
       .duration{
        font-size: 4vw;
      }
      #marriage-date {
        font-size: 6.5vw;
        line-height: 35px;
      }
      .duration-summary {
        height: 116px;
      }
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
   #couple-name{
    font-size: 13.395vw;
    line-height: 0;
    color: #9d45278a;
    margin-top: 17px;
   }
   .couple-name-div{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 106px;
   }
  

   #marriage-date-summary{
           font-size: 4vw;
           line-height: 30px;
       }
    .duration{
        font-size: 4vw;
      }
    #marriage-date {
        font-size: 6vw;
        line-height: 28px;
      }

      .duration-summary{
        height: 89px;
      }
  }


    