<div>
    <div class="couple-name-div">
            
                <!-- <div class="couple-name-bg"  [ngStyle]="{'background':'url('+ imageUrl +')'}" >
                               
                </div>  -->
                <div class="couple-name-bg" style="    background: grey;"  >
                               
                        </div> 
                <h1 id="couple-name">{{'Aron & Diya'}}</h1> 
            <!-- <h1 id="couple-name">{{'Arun & Diya'}}</h1> -->
    </div>
        
    <div style="height: 210px;">
            <div id="marriage-date-summary">

                    <!-- <img src="assets/rectangle.svg"> -->
                    <span style="padding-left: 20px;padding-right: 17px;">celebrating <b *ngIf="togetherMonth>=0" style="font-size: 34px;">{{togetherMonth}} month</b> <b *ngIf="togetherYear>=0" style="font-size: 34px;">{{togetherYear}} year</b> of togetherness
                    </span>
                    <!-- <img style="transform: scale(-1);" src="assets/rectangle.svg"> -->
                
                 <div>since</div>
            </div>
            
            <h1 id="marriage-date">10th February, 2019</h1>
    </div>

</div>


